@tailwind base;

@layer base {
  a {
    @apply text-blue-600 underline;
  }
  code {
    @apply text-[0.95em] font-semibold;
  }
}

@tailwind components;

@layer components {
  .content {
    font-family: theme('fontFamily.content');

    & p {
      margin: 1em 0;

      /*
      &:has(+ ul) {
        margin-bottom: 0;
      }
      */
    }

    & ul {
      list-style-type: disc;
      margin-left: 1em;
      display: inline-block;

      & li.task-list-item {
        list-style-type: none;

        & input[type='checkbox'] {
          margin-left: -1.3em;
          width: 1em;
        }
      }

      & p {
        margin: 0.5em 0;
      }
    }

    & dl {
      margin: 2em 1em;

      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 1em;
      row-gap: 0.5em;
      align-items: middle;

      & dt {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

@tailwind utilities;
