@tailwind base;

@layer base {
  a {
    @apply text-blue-600 underline;
  }
  code {
    @apply text-[0.95em] font-semibold;
  }
}

@tailwind components;

@layer components {
  .content {
    font-family: theme('fontFamily.content');

    & p {
      margin: 1em 0;
    }

    & ul {
      list-style-type: disc;
      margin-left: 2em;

      & p {
        margin: 0.5em 0;
      }
    }
  }
}

@tailwind utilities;
